 /* CSS declarations go here */

body {
  font: 10px sans-serif;
  margin: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.other {
    stroke: grey;
    stroke-opacity: 0.5;
    stroke-width: 1;
}

.mine {
    stroke: red;
    stroke-opacity: 2;
    stroke-width: 2;
}